* {
    font-family: helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body {
    /* background-color: #483d8b; */
}

/********************
* video game screen *
********************/
.container {
    /* background-color: #bada55; */
}
    .game-title {
    /***** Flappy Bird *****/
        text-align: center;
    }
    .game-screen {
        /* background-color: rgb(69, 184, 194); */
        width: 300px;
        height: 500px;
        margin: 0 auto;
    }
        canvas {
            background-color: 
            black
            /* #00bbc4 */
            /* #d2ce89 */
            ;
            display: block;
            width: 300px;
            height: 500px;
            margin: 0 auto;
        }